anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1660053721269/work/dist
Bottleneck @ file:///opt/concourse/worker/volumes/live/f7139d11-2eee-4f6e-48cd-73168dc9e900/volume/bottleneck_1648028909796/work
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1648854210220/work
certifi==2022.6.15.1
cffi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_62rp5d8fd4/croots/recipe/cffi_1659598655556/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
click @ file:///Users/runner/miniforge3/conda-bld/click_1651215451259/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1655412516417/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1657174324676/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1662937921263/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1660129891014/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1652727116927/work
huggingface-hub==0.9.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1653252891204/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
numexpr @ file:///Users/runner/miniforge3/conda-bld/numexpr_1658076481052/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1662888925855/work
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.4.2
Pillow==9.2.0
protobuf==3.20.1
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic @ file:///Users/runner/miniforge3/conda-bld/pydantic_1662443134323/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_1caf090c-01b6-4973-adac-d2eb884a674e7zonb9eb/croots/recipe/pytz_1654762641285/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1648757395480/work
regex @ file:///Users/runner/miniforge3/conda-bld/regex_1662946245507/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1661872987712/work
sacremoses==0.0.43
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette-recipe_1650649298613/work
tokenizers @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_268e8965-102b-48a5-a916-a216550453a11s7pxtzt/croots/recipe/tokenizers_1651822590419/work
torch @ file:///Users/runner/miniforge3/conda-bld/pytorch-recipe_1660136156773/work
torchaudio==0.12.1
torchvision==0.13.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1662214488106/work
transformers==4.21.3
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1656706066251/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1658789158161/work
uvicorn @ file:///Users/runner/miniforge3/conda-bld/uvicorn-split_1661373711282/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1659400682470/work
